@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    --webkit-text-size-adjust: 100%;
  }

  body {
    @apply font-sans bg-white text-slate-950;

    font-feature-settings: 'rlig' 1, 'calt' 1;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
  }
}
